@model Soluzione_S2_M2.Model.Servizi

<form asp-action="BottoneSalvaServizio" method="post">
    <div class="form-group">
        <label asp-for="Descrizione" class="control-label"></label>
        <input asp-for="Descrizione" class="form-control" id="start-date" />
        <span asp-validation-for="Descrizione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Costo" class="control-label"></label>
        <input asp-for="Costo" class="form-control" id="start-date" />
        <span asp-validation-for="Costo" class="text-danger"></span>
    </div>
    
    <button class="btn btn-outline-dark">Salva</button>
</form>

<h2 class="text-center">Tutti i Servizi:</h2>
@foreach (var servizi in ViewBag.servizi)
{
    <div class="card">
        <div class="d-flex">
            <div class="card-body">
                <h5 class="card-title">@servizi.Descrizione</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">@servizi.Costo</h6>
            </div>
            <div>
                <form action="Delete" method="post">
                    <input type="hidden" name="IdServizio" value="@servizi.IdServizio" />
                    <button class="btn btn-outline-danger m-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
}

