<footer class="d-flex text-center" id="colore">
  <div class="col-4 ">
    <h4>Percorso Epicode:</h4>
    <ul class="list-unstyled">
      <li><a href="https://github.com/" target="_blank" class="text-decoration-none text-black ">GithHub: Home-Git</a></li>
      <li><a href="https://github.com/mirko-amoroso/Front_end" target="_blank" class="text-decoration-none text-black">GithHub: Front-End</a></li>
      <li>x<a href="https://github.com/mirko-amoroso/Corso_Epicode_Back-End" target="_blank" class="text-decoration-none text-black">GithHub: Back-End</a></li>
    </ul>
  </div>
  <div class="col-4">
    <h5>percorso Epicode</h5>
  </div>
  <div class="col-4">
    <h5>Contatti:</h5>
    <ul class="list-unstyled">
      <li><a href="mailto:tuoindirizzo@email.com" class="text-decoration-none text-black">Email: mirkoamoroso&#64;email.com</a></li>
    </ul>
  </div>
</footer>
