#colore{
  background-color: #faf7f7;
}

.footer-custom {
  background-color: #2c3e50;
  color: white;
  padding: 20px 0;
}

.footer-custom h4, .footer-custom h5 {
  color: #ffffff;
}

.footer-custom a {
  color: #3498db;
  transition: color 0.3s ease;
}

.footer-custom a:hover {
  color: #2980b9;
}

.footer-bottom {
  background-color: #1a252f;
  padding: 10px;
  color: #ffffff;
}
