@using Project_M2_S3.Models.Entity
@model Project_M2_S3.Models.ProdConListInt

@{
    var ingredients = ViewBag.Ingredients as List<Ingrediente>;
}


@{
    ViewData["Title"] = "Create Product";
}

<h2>Create Product</h2>

<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Photo" class="control-label"></label>
        <input asp-for="Photo" class="form-control" />
        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DeliveryTimeInMinutes" class="control-label"></label>
        <input asp-for="DeliveryTimeInMinutes" class="form-control" />
        <span asp-validation-for="DeliveryTimeInMinutes" class="text-danger"></span>
    </div>
    <div class="form-group">

        
            @for (int i = 0; i < ingredients.Count; i++)
            {
                <div>
                    <input type="checkbox" name="ingredient[@i]" value="@ingredients[i].Id" />
                    <label>@ingredients[i].Name</label>
                </div>
            }
        


        @* @for (int i = 0; i < ingredients.Count; i++)
        {
            <div>
                <input type="checkbox" name=ingrediente[@i].IsSelected value="true" />
                <input type="hidden" name=ingrediente[@i].Id value="@ingredients[i].Id" />
                <label>@ingredients[i].Name</label>
            </div>
        }  *@
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}