@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuti su Muovigo</h1>
    <p> Muovigo è la tua soluzione ideale per tutte le esigenze di spedizione in tutto il territorio nazionale. Siamo un'agenzia di spedizioni affidabile e 
        innovativa, dedicata a fornire servizi di alta qualità per privati e aziende. Con un team esperto e una rete capillare di partner, garantiamo che i
        tuoi pacchi arrivino a destinazione in modo sicuro e puntuale.
    </p>
</div>

    <h2 class="text-center">I Nostri Servizi:</h2>

<div class="d-flex flex-wrap">
    <div class="col-5 mt-5 mx-5">
        <h4 class="text-center">Spedizioni Nazionali</h4>
        <p>
            Che tu debba spedire un piccolo pacco o una grande fornitura, Muovigo è qui per aiutarti.
            Offriamo una vasta gamma di servizi di spedizione per tutte le dimensioni e i pesi,
            con tariffe competitive e tempi di consegna rapidi.
        </p>
    </div>

    <div class="col-5 mt-5 mx-5">
            <h4 class="text-center">Spedizioni Aziendali</h4>
            <p>
                Le aziende possono contare su Muovigo per gestire le loro spedizioni in modo efficiente e sicuro.
                Offriamo soluzioni di spedizione su misura per le imprese, con opzioni di tracking avanzate e supporto dedicato.
            </p>
    </div>

    <div class="col-5 mt-5 mx-5">
                <h4 class="text-center">Tracking Avanzato</h4>
            <p>
                Con Muovigo, puoi seguire ogni fase della tua spedizione. Il nostro sistema di tracking avanzato ti permette di monitorare in tempo reale lo stato del tuo pacco,
                dalla partenza alla consegna.
            </p>
    </div>

    <div class="col-5 mt-5 mx-5">
            <h4 class="text-center">Assistenza Clienti</h4>
            <p>
                Il nostro team di assistenza clienti è sempre pronto ad aiutarti. Che tu abbia bisogno di informazioni su una spedizione,
                di assistenza per un problema o di consigli su come imballare al meglio i tuoi pacchi, siamo qui per te.
            </p>
    </div>
</div>
<div class="d-flex">
<div class="mt-5 mx-5 col-5 justify-content-around">
        <h2 class="text-center">Chi Siamo?</h2>
        <p>
            Muovigo è nata dalla passione per la logistica e il desiderio di offrire un servizio di spedizioni che si distingua per efficienza, affidabilità
            e attenzione al cliente. Ogni giorno lavoriamo con dedizione per migliorare i nostri servizi e soddisfare le esigenze dei nostri clienti,
            offrendo soluzioni personalizzate per ogni tipo di spedizione.
        </p>
</div>

<div class="col-5 mt-5 mx-5 ">
    <h2 class="text-center">Contattaci:</h2>
    <div class="mt-5">
        <form class="text-center">
            <label for="Email">Email:</label>
            <input type="email" name="Email" placeholder="Email"/>

            <label for="Password">Password:</label>
            <input type="password" name="Password" placeholder="Password" />
        </form>
    </div>
</div>

