@model List<Prog_S1_V.Model.Anagrafica_Verbale>

    <h2>Totale Verbali per utente:</h2>

@foreach (var verbale in Model)
{
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">L'utente: @verbale.Nome  @verbale.Cognome</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Totali Verbali: @verbale.NumeroVerbali</h6>
      </div>
    </div>
}
