<div class="home-container">
  <!-- Sezione Header -->
  <header class="home-header">
    <h1>Creazione Personaggio</h1>
    <p>Il portale perfetto per scoprire il mondo dei giochi di ruolo.</p>
  </header>

  <!-- Sezione Carosello -->
  <!-- <section class="carousel-section">
    <app-carousel></app-carousel>
  </section> -->

  <!-- Sezione Informazioni Generali -->
  <section class="info-section">
    <div class="info-container">
      <h2>Informazioni Generali</h2>
      <p>Questo sito è stato progettato per fornire una piattaforma intuitiva per gli appassionati di giochi di ruolo,
        come Dungeons & Dragons, per gestire i loro personaggi, partite e storie.</p>
      <ul>
        <li>Crea e personalizza i tuoi personaggi.</li>
        <li>Connettiti con altri giocatori per creare campagne epiche.</li>
        <li>Gestisci inventario, abilità e punti esperienza in modo semplice e veloce.</li>
      </ul>
    </div>
  </section>

  <!-- Sezione Funzionalità o Servizi -->
  <section class="features-section">
    <h2>Le Nostre Funzionalità</h2>
    <div class="features-grid">
      <div class="feature-item">
        <h3>Gestione Personaggi</h3>
        <p>Registra e aggiorna i tuoi personaggi con un’interfaccia intuitiva e facile da usare.</p>
      </div>
      <div class="feature-item">
        <h3>Creazione Campagne</h3>
        <p>Collabora con i tuoi amici per creare avventure uniche e coinvolgenti.</p>
      </div>
      <div class="feature-item">
        <h3>Database Completo</h3>
        <p>Accedi a un database completo di oggetti, incantesimi e mostri per arricchire il tuo gioco.</p>
      </div>
    </div>
  </section>
</div>


<!-- <app-carousel></app-carousel> -->
<app-footer></app-footer>
