<body class="sfondo">

  <!-- SE LA GET NON è FINITA PRINTA CARICAMENTO, SENNO IL RESTO  -->
  <div *ngIf="isLoading" class="spinner-container">
    <!-- HTML per la rotellina di caricamento -->
    <div class="spinner"></div>
    <p>Caricamento in corso...</p>
  </div>

  <!-- FORM NOME, ALLINEAMENTO,LIVELLO -->
  <div *ngIf="!isLoading">
    <div class="col-12 d-flex justify-content-around ">
      <form [formGroup]="nomeForm" class="my-3">
        <div>
          <input type="text" formControlName="Nome" id="nome" class="form-control trasparent-select card text-white">
        </div>
      </form>

      <form [formGroup]="allineamentoForm" class="my-3 allineamnetoForm">
        <div>
          <div>
            <select formControlName="allineamento" class="form-select custom-select trasparent-select card text-white">
              <ng-container *ngFor="let valore of Allineamenti">
                <option [value]="valore">{{ valore }} </option>
              </ng-container>
            </select>
          </div>
        </div>
      </form>

      <form [formGroup]="livelloForm" class="my-3 allineamnetoForm">
        <div>
          <input type="number" formControlName="livello" id="livello"
            class="form-control trasparent-select card text-white">
        </div>
      </form>

    </div>
    <!-- RACCOGLITORE DI ATTRIBUTI E TIRI SALVEZZA -->
    <div class="d-flex">

      <!-- INSIME DI ATTRIBBUTI -->

      <div class="d-flex flex-column col-12">
        <!-- PARTE SUPERIORE COL-9 -->
        <div class="d-flex justify-content-around mt-2">
          <!-- FORZA -->
          <div class="d-flex">
            <div class="d-flex flex-column align-items-center cardAtt">
              <h6>Forza</h6>
              <div class="Cornice_Classe d-flex justify-content-center align-items-center flex-column">
                <p class="mt-2">
                  <span class="fw-medium fs-5">{{attributi.forza}}</span>
                  <br>
                  <span
                    class="tondoTondo d-flex justify-content-center">{{calcoloAttribbuto(PersonaggioFull.attributi!.forza)}}</span>
                </p>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <button class="btn-custom mb-2 ms-2" (click)="FunzionePiu('F')">+</button>
              <button class="btn-custom mt-2 ms-2" (click)="FunzioneMeno('F')">-</button>
            </div>
          </div>
          <!-- DESTREZZA -->
          <div class="d-flex">
            <div class="d-flex flex-column align-items-center cardAtt">
              <h6>Destrezza</h6>
              <div class="Cornice_Classe d-flex justify-content-center align-items-center flex-column">
                <p class="mt-2">
                  <span class="fw-medium fs-5">{{attributi.destrezza}}</span>
                  <br>
                  <span class="tondoTondo">{{calcoloAttribbuto(PersonaggioFull.attributi!.destrezza)}}</span>
                </p>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <button class="btn-custom mb-2 ms-2" (click)="FunzionePiu('D')">+</button>
              <button class="btn-custom mt-2 ms-2" (click)="FunzioneMeno('D')">-</button>
            </div>
          </div>
          <!-- COSTITUZIONE -->
          <div class="d-flex">
            <div class="d-flex flex-column align-items-center cardAtt">
              <h6>Costituzione</h6>
              <div class="Cornice_Classe d-flex justify-content-center align-items-center flex-column">
                <p class="mt-2">
                  <span class="fw-medium fs-5">{{attributi.costituzione}}</span>
                  <br>
                  <span class="tondoTondo">{{calcoloAttribbuto(PersonaggioFull.attributi!.costituzione)}}</span>
                </p>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <button class="btn-custom mb-2 ms-2" (click)="FunzionePiu('CO')">+</button>
              <button class="btn-custom mt-2 ms-2" (click)="FunzioneMeno('CO')">-</button>
            </div>
          </div>
          <!-- SAGGEZZA -->
          <div class="d-flex">
            <div class="d-flex flex-column align-items-center cardAtt">
              <h6>Saggezza</h6>
              <div class="Cornice_Classe d-flex justify-content-center align-items-center flex-column">
                <p class="mt-2">
                  <span class="fw-medium fs-5">{{attributi.saggezza}}</span>
                  <br>
                  <span class="tondoTondo">{{calcoloAttribbuto(PersonaggioFull.attributi!.saggezza)}}</span>
                </p>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <button class="btn-custom mb-2 ms-2" (click)="FunzionePiu('S')">+</button>
              <button class="btn-custom mt-2 ms-2" (click)="FunzioneMeno('S')">-</button>
            </div>
          </div>
          <!-- INTELLIGENZA -->
          <div class="d-flex">
            <div class="d-flex flex-column align-items-center cardAtt">
              <h6>Intelligenza</h6>
              <div class="Cornice_Classe d-flex justify-content-center align-items-center flex-column">
                <p class="mt-2">
                  <span class="fw-medium fs-5">{{attributi.intelligenza}}</span>
                  <br>
                  <span class="tondoTondo">{{calcoloAttribbuto(PersonaggioFull.attributi!.intelligenza)}}</span>
                </p>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <button class="btn-custom mb-2 ms-2" (click)="FunzionePiu('I')">+</button>
              <button class="btn-custom mt-2 ms-2" (click)="FunzioneMeno('I')">-</button>
            </div>
          </div>
          <!--CARISMA -->
          <div class="d-flex">
            <div class="d-flex flex-column align-items-center cardAtt">
              <h6>Carisma</h6>
              <div class="Cornice_Classe d-flex justify-content-center align-items-center flex-column">
                <p class="mt-2">
                  <span class="fw-medium fs-5">{{attributi.carisma}}</span>
                  <br>
                  <span class="tondoTondo">{{calcoloAttribbuto(PersonaggioFull.attributi!.carisma)}}</span>
                </p>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <button class="btn-custom mb-2 ms-2" (click)="FunzionePiu('CA')">+</button>
              <button class="btn-custom mt-2 ms-2" (click)="FunzioneMeno('CA')">-</button>
            </div>
          </div>

        </div>

        <!-- PARTE INFERIORE COL-9 -->
        <div class="d-flex m-5">

          <div class="d-flex justify-content-around align-items-center col-12">
            <div class="d-flex">
              <div class="d-flex justify-content-around">
                <div class="CorniceScudi card Dv d-flex justify-content-center align-items-center">
                  <h6 class="position-absolute top-0">Punti Ferita:</h6>
                  <div>
                    <span>{{attributi.pv}}</span>
                  </div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <button class="btn-customse mb-2 ms-2" (click)="calcoloPv()">P.Vita</button>
                </div>
              </div>

            </div>
            <div class="d-flex justify-content-center mt-3">
              <div class="d-flex">
                <div class="CorniceScudi card Mo d-flex justify-content-center align-items-center">
                  <h6 class="position-absolute top-0">M. Oro:</h6>
                  <div class="mt-4">
                    <span>{{Mo}}</span>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center">
                <button class="btn-custom mb-2 ms-2" (click)="FunzionePiu('MO')">+</button>
                <button class="btn-custom mt-2 ms-2" (click)="FunzioneMeno('MO')">-</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="d-flex justify-content-center">
      <button class="btn-customs" (click)="SalvaTutto()">Salva</button>
    </div>
  </div>

</body>
