@using Soluzione_S2_M2.Model
@model List<Clienti>

    <form asp-action="" method="post">
        <div class="form-group">
            
            <select typeof="select"  class="form-control">
                @foreach (var cf in Model)
                {
                    <option value="@cf.Cod_Fisc">
                    @cf.Cod_Fisc
                    </option>
                }
            </select>
        </div>
    </form>
