@model LoginModel

<div class="text-center"><h1>Login</h1></div>
@* <div class="row">
    <div class="col-md-4">
    <form asp-action="Login" asp-route-returnUrl="@TempData["ReturnUrl"]">
        @Html.AntiForgeryToken()
        <div class="offset-3 col-6">
            <div class="input-group">
                <label asp-for="Email" class="col-3 form-label"></label>
                <input asp-for="Email" class="form-control ms-1" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="input-group mt-1">
                <label asp-for="Password" class="col-3 form-label"></label>
                <input asp-for="Password" class="form-control ms-1" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="input-group justify-content-center mt-2">
                <button class="btn btn-outline-success m-1">Accedi</button>
                <p class="mt-2"><a asp-action="Register" class="text-success m-2 " >Registra</a></p>
            </div>
        </div>
    </form>
</div>
</div> *@


<hr />
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <form asp-action="Login" asp-route-returnUrl="@TempData["ReturnUrl"]">
            @Html.AntiForgeryToken()
                
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control ms-1" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control ms-1" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="input-group justify-content-center mt-2">
                <button class="btn btn-outline-success m-1">Accedi</button>
                <p class="mt-2"><a asp-action="Register" class="text-success m-2 ">Registra</a></p>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>




@* <div class="row">
<div class="col-md-4">
    <form asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group my-3">
            <input type="submit" value="Create" class="btn btn-outline-success" />
            <span><a asp-action="Login" class="text-success m-3">Accedi</a></span>
        </div>
    </form>
</div>
</div> *@