<div class="custom-carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://localhost:4200/assets/guerriero.webp" alt="Guerriero">
    </div>
    <div class="carousel-item">
      <img src="http://localhost:4200/assets/mago.webp" alt="Mago">
    </div>
    <div class="carousel-item">
      <img src="http://localhost:4200/assets/ladro.webp" alt="Ladro">
    </div>
  </div>
  <button class="prev-btn" (click)="prevSlide()">&#10094;</button>
  <button class="next-btn" (click)="nextSlide()">&#10095;</button>
</div>
